body{
    margin:0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    color: black;
    font-weight: 400;
    font-size: 60px;
    border-left: 5px rgb(55, 5, 233) solid;
}
h2{
    color: black;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    font-family: Poppins;
}
h3{
    color: black;
    font-size: 36px;
    font-weight: 700;
}
h4{
    font-size: 24px;
    font-weight: 700;
}
p{
    font-size: 18px;
    color:#424242;
    font-weight: normal;
}
a{
    text-decoration: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}
.banner{
    margin:10px 20px;
    display:flex;
}
.slogan{
    color:rgb(14, 245, 233);
}
.profile-title{
    width: 40%;
    padding-left: 5%;
}
.button-line{
    padding-top: 20px;;
}
.profile{
    width:40%;
    padding-left: 5%;
}
.profile img{
    width:100%;
    margin-top: -50px;
} 
.mission-section{
    margin:10px 70px;
    display:flex;
}
.mission{
    background-color: rgba(79, 157, 166, 0.1);
    width: 30%;
    border-radius: 26px;
    padding: 20px 20px;
    margin: 2px 10px;
}
.mission img{
    width: 50%;
}
.vission{
    background-color:rgba(255, 89, 89, 0.1);;
    width: 30%;
    border-radius: 26px;
    padding: 20px 20px;
    margin: 2px 10px;
}
.vission img{
    width: 50%;
}
.goal{
    background-color:#FFF4D6;
    width: 30%;
    border-radius: 26px;
    padding: 20px 20px;
    margin: 2px 10px;
}
.goal img{
    width: 50%;
}
.developer{
    margin:10px 20px;
    display:flex;
}
.coding{
    width: 30%;
    padding-left: 5%;
    margin-top: 50px;
    background-image: url(images/shapes/shape-1.png);
    background-position: left;
    background-size: 250px;
    background-repeat: no-repeat;
}
.coding img{
    width: 100%;
}
.coding-text{
    width: 50%;
    padding-left: 5%;
    margin-top: 50px;
}
.community{
    margin:70px 20px;
    display:flex;
    background-image: url(images/shapes/shape-1.png);
    background-size: 200px;
    background-position: bottom 0px right 75px;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}
.community-text{
    width: 50%;
    padding-left: 5%;
}
.com-pic{
    width: 30%;
}
.com-pic img{
    width: 100%;
    margin-left: 30px;
    margin-bottom: 20px;
}